@model IEnumerable<Person>
@{
    ViewBag.Title = "Persons";
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Date of Birth</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.Name</td>
                <td>@person.Email</td>
                <td>@person.Age</td>
                <td>@person.BirthDate.ToString("dd/MMM/yyyy").Replace("-","/") </td>
                <td>
                    <a class="btn btn-primary" asp-controller="Persons" asp-action="EditPerson" asp-route-Id="@person.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>